## Interface:{{interface}}
## Title: |cffffffff{{title}}|r
## Notes:{{notes}}
## Version:{{version}}
## Dependencies:{{dependencies}}

ZygorGuideBuilder.lua

{{#guideFiles}}
Guides/{{.}}
{{/guideFiles}}